<launch>
  
  <node name = "kitti360_helper" pkg = "yan-slam" type = "kitti360_helper" output = "screen" > -->
    <param name = "dataset_root" type = "string" value = "/home/huiyan/Datasets/KITTI-360/" />
    <param name = "sequence" type = "string" value = "2013_05_28_drive_0003_sync/" />
  </node>

  
  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find yan-slam)/rviz/kitti360.rviz" />
  </group>

</launch>